<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}\Log\Internal-NLog.txt">

  <variable name='dirPath' value='${basedir}\Log'/>
  <variable name='applicationTypeID' value='1'/>
  <variable name='applicationName' value='SmartLock'/>
  <variable name='version' value='v1'/>
  <variable name='versionNumber' value='1'/>
  <variable name='applicationLogFileName' value='smartlock.log'/>

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <!-- the targets to write to -->
  <targets>
    <target xsi:type="Console" name="consolelog" Layout="${longdate}, ${message}, ${exception}"></target>

    <target xsi:type="AsyncWrapper" name="debugLogAsync" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" name="debugLog" fileName="${dirPath}/${applicationLogFileName}-${level}.csv" encoding="utf-8" keepFileOpen="true"
              archiveAboveSize="20000" maxArchiveFiles="5" archiveFileName="${dirPath}\Archive\${applicationLogFileName}-${level}-${shortdate}-{####}.txt" archiveNumbering="Sequence">
        <layout xsi:type="CSVLayout">
          <column name="time" layout="${longdate}" />
          <column name="message" layout="${message}" />
          <column name="applicationName" layout="${configsetting:name=ApplicationName}" />
          <column name="applicationID" layout="${applicationTypeID}" />
          <column name="version" layout="${configsetting:name=Version}" />
          <column name="versionNumber" layout="${configsetting:name=VersionNumber}" />
          <column name="hostName" layout="${hostname}" />
          <column name="machineName" layout="${machinename}" />
          <column name="processName" layout="${processname}" />
        </layout>
      </target>
    </target>


    <target xsi:type="BufferingWrapper" name="exceptionLogBuffer" bufferSize="10" flushTimeout="30000" overflowAction="Flush">
      <target xsi:type="File" name="exceptionLog" fileName="${dirPath}\${applicationLogFileName}-Exception.json" encoding="utf-8" keepFileOpen="true"
            archiveAboveSize="10485760" maxArchiveFiles="100" archiveFileName="${dirPath}\Archive\${applicationLogFileName}-Exception-${shortdate}-{####}.json" archiveNumbering="Sequence">
        <layout xsi:type="JsonLayout">
          <attribute name="applicationID" layout="${applicationTypeID}" />
          <attribute name="applicationName" layout="${applicationName}" />
          <attribute name="version" layout="${version}" />
          <attribute name="versionNumber" layout="${versionNumber}" />
          <attribute name="hostName" layout="${hostname}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=@}" />
          <attribute name="clientIp" layout="${aspnet-request-ip:CheckForwardedForHeader=true}" />
          <attribute name="host" layout="${aspnet-request-host}" />
          <attribute name="httpMethod" layout="${aspnet-request-method}" />
          <attribute name="url" layout="${aspnet-request-url}" />
          <attribute name="queryString" layout="${aspnet-request-querystring}" />
          <attribute name="cookie" layout="${aspnet-request-cookie}" />
          <attribute name="body" layout="${aspnet-request-posted-body}" />
          <attribute name="createDate" layout="${longdate}" />
        </layout>
      </target>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" level="Error" writeTo="exceptionLogBuffer, consolelog" />
    <logger name="*" levels="Debug" writeTo="debugLogAsync" final="true"/>
  </rules>
</nlog>